#page1
{
	height: 480px;
	display: flex;
	align-items: center;
	justify-content: center;
}

html
{
	overflow-y:hidden;
}
#InfoName
{
	font-family: Arial;
	font-size: 3em;
}
@font-face
{
	font-family: 'DS-DIGI';
	src:url('DS-DIGI.ttf');
}

#div_horloge
{
	font-family: 'DS-DIGI';
	font-size: 10em;
	margin: auto;
}

#next1
{
	
}